body{
	background-color: #e9ebee;
	margin: 0;
	padding: 0;
}


/* NAVBAR */
.navbar-brand{
	font-family: VIGA;
	font-size: 32px;
	margin-left: 0px;
	color: white !important;
}
.nav-link{
	text-align: center;
}
.nav-item{
	margin-top: 10px;
}
.navbar-brand, .nav-link{
		color: white !important;
	}

.jumbotron{
	background-image: url(img/onep.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}
.tombol{
	border-radius: 40px;
	text-transform: uppercase;
	line-height: 45px;
	align-items: center;
	margin-bottom: 10px;
 }
.baris img{
	display: none;
}
 .baris p.trailer{
 	text-align: center;
 	margin: 5px auto;
 	font-family: VIGA;
 	font-size: 30px;
 }
 .container1{
 	background-color: white;
 	width: 95%;
 	margin: 20px auto;
 	height: 480px;
 	border-radius: 5px;
 }
 .kolom h3{
 	font-size: 16px;
 	text-align: center;
 }
 .kolom p{
 	display: none;
 }
 .tombol1{
 	margin-left: 35%; 
 }
 .col-lg-12 img{
 	margin-left: 20px;
 }
 .carousel{
 	margin-top: -440px;
 }
 .carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
    background-color: white;
}


/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}
section a{
	text-decoration: none !important;
}
footer{
	background-color: #167AC6;
	margin: 70px 0px 0px 0px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	padding-left: 6%;
}
footer p.footer{
	margin-bottom: 0px;
}
.navbar{
		padding: 0;
		margin: 0;
		display: block;
		background-color: #167AC6;
	}
.nav-link:hover{
	background-color: #2196f3;
	border-radius: 5px;
}
.active{
	background-color: #2196f3;
	border-radius: 5px;
}
@media (min-width: 992px){
	.navbar-brand, .nav-link{
		color: white !important;
	}
	.nav-item{
	margin-top: 0px;
}
	.nav-link{
		text-transform: uppercase;
		padding: 0px 15px 0px 15px !important;
		line-height: 60px;
	}
	.nav-link:hover{
		background-color: #2196f3;
		border-radius: 0px;
	}
	.active{
		background-color: #2196f3;
		border-radius: 0px;
	}
	.navbar{
		padding: 0;
		display: block;
		background-color: #167AC6;
	}
	.tombol{
		margin-left: 40px;
		margin-bottom: 0px;
	}
	.baris{
		background-color: white;
		width: 95%;
		margin: 5px auto;
		border-radius: 5px;
		padding: 20px;
		height: 460px;
	}
	.baris img{
	float: left;
	width: 50px;
	display: block;
}
 .baris p{
 	float: left;
 	margin: 5px 0px 0px 10px;
 	font-family: VIGA;
 	font-size: 15px;
 	display: block;
 }
	.baris .kolom{
		float: right;
	}
	.embed-responsive-1by1{
		width: 350px;
		margin: 70px 30px 10px 0px;
	}
	.kolom{
		margin: -400px 0px 0px 380px;
	}
	 .kolom h3{
 	font-size: 26px;
 	text-align: center;
 }
	.kolom a{
		float: right;
		margin-top: -15px;
		margin-right: 15px;
	}
}
@media (max-width: 1210px){
	.kolom p{
		font-size: 11.5px;
	}
}
@media (max-width: 575px){
	.card-deck{
	background-color: blue;
	}
}
@media (max-width: 767px){
	.container1{
		height: 550px;
	}
	.carousel{
		margin-top: -500px;
	}
}